body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

select{
  background: transparent;
  border: none;
}

@font-face{
  font-family: 'almoni';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/almoni-dl-aaa-400.eot') format('embedded-opentype'),
      url('./fonts/almoni-dl-aaa-400.ttf') formt('truetype'),
      url('./fonts/almoni-dl-aaa-400.woff') format('woff')
}

@font-face{
  font-family: 'almoni bold';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/almoni-dl-aaa-700.eot') format('embedded-opentype'),
      url('./fonts/almoni-dl-aaa-700.ttf') formt('truetype'),
      url('./fonts/almoni-dl-aaa-700.woff') format('woff')
}